.project-cards-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 22px 4px;
    align-items: center;
    justify-content: center;
}

.project-card{
    width: 350px;
    min-height: 300px;
    background: #fff;
    box-shadow: 10px 44px 50px rgba(229,233,246,0.4);
    display: flex;
    flex-direction: column;
    margin: 20px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}
.ribbon{
	position: absolute;
    width: 150px;
    overflow: hidden;
    /* z-index: 1; */
    right: -55px;
    top: 13px;
    font-size: 12px;
    background: rgb(2,0,36);
    color: white;
    transform: rotate(45deg);
    text-align: center;
    box-shadow: 3px 5px 6px rgba(0, 0, 0, 0.4);
}


.project-card:hover{
    box-shadow: 0px 40px 50px rgba(0, 0, 0, 0.4);
    transition: all 0.3s;
}

.image-container{
    width: 100%;
    min-height: 180px;
    border-radius: 20px;
    border-radius: 20px 20px 0 0 ;
}
.project-external-link{
    text-decoration: none;
    color: rgb(2,0,36);
}
.project-image{
    display: block;
    border-radius: inherit;
    max-height: 100%;
    max-width: 100%;
}
.project-details-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: flex-start;
    padding: 5px 20px 20px 20px;
}

.project-yt-link{
    font-weight: 600;
    color: rgb(115, 41, 175);
}
.link{
    color: rgb(115, 41, 175);
    cursor: pointer;
}

.project-heading{
    margin: 0;
}
.techStack{
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.project-details{
    font-weight: 300;
    font-size: 16px;
    line-height: 23px;
    color:#686470;
}
.project-details-line-clamp{
    font-weight: 300;
    font-size: 16px;
    line-height: 23px;
    color:#686470;
    display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
    overflow: hidden;
}

.tech-span{
    background-color: rgb(228, 238, 255);
    border: 2px solid rgb(142, 174, 231);
    border-radius: 2px;
    font-size: 13px;
    margin:0px 4px;
    padding: 1px 2px;
    /* box-shadow: 1px 2px 3px 4px rgba(0, 0, 0, 0.1); */
}

@media only screen and (max-width:640px){
    .project-cards-container{
        padding: 20px;
    }
    .project-card{
        width:290px;
        min-height: 200px;
    }
}