/* Position and Sizing Burger/Nav Button */
.bm-burger-button{
    position: fixed;
    width: 36px;
    height: 30px;
    left: 25px;
    top:32px;
}

/* Colors to our Nav/Burger Bars */
.bm-burger-bars{
    background: rgb(122, 102, 102);
}

/* Burger/Nav btn Color on hover */

.bm-burger-bars-hover{
    background: #43475f;
}

/* Size of cross button */
.bm-cross-button{
    height:24px;
    width: 24px;
}


/* Cross button Color */
.bm-cross{
    background: #fff;
}

/* Side bar wrapper styles */

.bm-menu-wrap{
    position: fixed;
    height: 100vh;
    overflow: hidden;
    box-shadow: 0px 4px 31px rgba(0,0,0,15);
}
.bm-menu{
    background: rgb(2,0,36);
    /* background: -moz-linear-gradient(39deg, rgba(2,0,36,1) 0%, rgba(139,0,255,1) 40%, rgba(51,95,184,1) 94%, rgba(86,13,135,1) 100%);
    background: -webkit-linear-gradient(39deg, rgba(2,0,36,1) 0%, rgba(139,0,255,1) 40%, rgba(51,95,184,1) 94%, rgba(86,13,135,1) 100%);
    background: linear-gradient(39deg, rgba(2,0,36,1) 0%, rgba(139,0,255,1) 40%, rgba(51,95,184,1) 94%, rgba(86,13,135,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#560d87",GradientType=1); 
     */
    height: 100vh;
    overflow: hidden !important;
    padding: 3.5em 1.5em 0 0;
}

.bm-item-list{
    padding:0.8em;
}
.menu-item{
    position:relative;
    font-size: 20px;
    text-decoration: none;
    color:#fff;  
    font-family:inherit;
    font-weight: normal;
    padding: 10px;
}
.menu-item:before{
    content: '';
    position: absolute;
    width: 100%;
    background-color:#fff;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
    height: 0;
    bottom: 0;
    left: 0;
}

.active-item{
    font-weight:500;
}
.menu-item:hover:before,
.active-item:before{
    visibility: visible;
    height: 3px;
}